<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        <!-- Database connection settings -->
        <!-- Settings for a local HSQL (testing) database. -->
        <property name="dialect">org.hibernate.dialect.HSQLDialect</property>
        <property name="connection.driver_class">org.hsqldb.jdbcDriver</property>
        <property name="connection.url">jdbc:hsqldb:hsql://localhost</property>
        <property name="connection.username">sa</property>
        <property name="connection.password"></property>
        
        
        <!-- say "no" to transactions!
        <property name="transaction.flush_before_completion">true</property>
    	<property name="connection.release_mode">after_statement</property>
    	<property name="transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</property>
        -->
        
        <!-- JDBC connection pool (use the built-in) -->
        <property name="connection.pool_size">1</property>

        
        <!-- Enable Hibernate's automatic session context management -->
        <property name="current_session_context_class">thread</property>

        <!-- Disable the second-level cache  -->
        <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
		
		<!--  this gives much better error messages since each command is executed seperatly -->
		<!--  disable for production use -->
		<!-- <property name="hibernate.jdbc.batch_size">0</property>-->

        <!-- Echo all executed SQL to stdout -->
        <!--<property name="show_sql">true</property>-->

		

        <!-- update the database schema on startup -->
        <!--  set to "create-drop" to recreate schema and to delete old data when sessionfactory is closed-->
        <!-- "update" causes only updates, existing data is kept -->
        <property name="hbm2ddl.auto">update</property>

		<!-- map domain classes with annotations -->
        <mapping class="de.jw.cloud42.core.domain.User"/>
        <mapping class="de.jw.cloud42.core.domain.AwsCredentials"/>
        <mapping class="de.jw.cloud42.core.domain.KeypairMapping"/>
        <mapping class="de.jw.cloud42.core.domain.Settings"/>
        
        <mapping class="de.jw.cloud42.core.eventing.subscription.Subscription"/>
        <mapping class="de.jw.cloud42.core.eventing.subscription.SOAPSubscription"/>
        <!-- add your own subscription classes here -->
        
    </session-factory>

</hibernate-configuration>